# Telegraf configuration
TG_MQTT01_SERVERS=["tcp://eu1.cloud.thethings.network:1883"]
TG_MQTT01_TOPICS=["v3/lora-raingauge-XXXXXX@ttn/devices/#"]
TG_MQTT01_USERNAME=lora-raingauge-XXXXX@ttn
TG_MQTT01_PASSWORD=XXXXXX

#TG_MQTT02_SERVERS=["tcp://eu1.cloud.thethings.network:1883"]
#TG_MQTT02_TOPICS=["v3/iot-geiger-XXXXXX@ttn/devices/#"]
#TG_MQTT02_USERNAME=iot-geiger-XXXXXX@ttn
#TG_MQTT02_PASSWORD=XXXXXX

# InfluxDB configuration
INFLUXDB_DB=influx
INFLUXDB_ADMIN_USER=admin
INFLUXDB_ADMIN_PASSWORD=t0ps3cr3t

# Grafana configuration
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
GF_INSTALL_PLUGINS=